button {
  cursor: pointer;
}
.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.login {
  max-width: 165px;
  margin: auto;
}
.login-button {
  text-align: end;
}
.logout {
  background-color: white;
  top: -13vh;
  position: relative;
  left: 43%;
  font-weight: bolder;
}
.list-emptier {
  background-color: white;
}
.dialog {
  position: absolute;
  left: 50%;
}
.inner-dialog {
  position: relative;
  margin: auto;
  width: 200px;
  left: -100px;
  border: 1px black solid;
  background-color: white;
}